.form-container{
    background: #424242;
    margin: 15%;
    max-width: 350px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    color:white;
}

h1{
    font-weight:bold;
    color:yellowgreen;
}

